body {
    /* background-color: lightblue; */
    /* background: rgba(0, 128, 0, 0.2) Green background with 30% opacity */
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 5px;
}

.li {
    margin: 10px;
    font-size: 20px;
}

.container {
    margin: 10px auto;
    padding: 15px 36px;
    width: 500px;
    font-size: 16px;
    border: 1px solid #e3e3e3;
    border-radius: 16px;
    box-shadow: 4px 4px 5px #0e62788c;
    background: #efefef;
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    /* justify-content: center; */
}

.main-title {
    display: flex;
    justify-content: center;
}
.title {
    font-size: 20px;
    font-weight: 300;
}
.types-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row {
    margin: 20px;
}

.btn-cont {
    display: flex;
    justify-content: center;
}

.type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}

input {
    display: block;
    margin-top: 10px;
}
label {
    color: black;
    font-size: 18px;
    margin-top: 10px;

    margin-left: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    font-size: 16px !important;
    border: 1px solid #ddd;
    padding: 6px;
    border-radius: 10px;
    width: 100%;
}

input[type="submit"] {
    margin: 15px 15px 10px;
    font-size: 16px;
    background: #16a085;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
}

.view-projects {
    margin-top: 20px;
    background-color: #16a085;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 16px;
}
